<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h2>ユーザー名：<%= @user.username %></h2>

<p>プロフィール：<%= @user.profile %></p>

<% if user_signed_in? %>
<% if current_user.id == @user.id %>
<%= link_to "編集", edit_user_path(@user) %>
<%= link_to "削除", user_path(@user), method: :delete, data: {confirm: "本当に削除しますか？"} %>
<% end %>
<% end %>

<!--　ここから追加 -->
<h3>このユーザーの投稿</h3>

<% @blogs.each do |blog| %>
<ul>
<li><%= link_to blog.title, blog_path(blog) %></li>
</ul>

<% end %>

<%= link_to "退会", user_path(@user), method: :delete, data: {confirm: "本当に退会しますか？"} %>