<!DOCTYPE html>
<html>
  <head>
    <title>DeviseBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <% if user_signed_in? %>
  <p>ようこそ:　<%= current_user.username %></p>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <%= link_to "新規投稿", new_blog_path %>
  <% else %>
  <p>ログイン状況：未ログイン</p>
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
  <% end %>

  <%= link_to "投稿一覧", blogs_path %>
  <%= link_to "ユーザー一覧", users_path %>

    <%= yield %>
  </body>
</html>